<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% set previousPage = pagination.current_page-1 %}
    <li class="page-item{% if pagination.current_page == previousPage or pagination.first_page == pagination.current_page %} disabled{% endif %}">
      <a class="page-link" href="{{ path(pagination.route, pagination.paramsRoute|merge({'page': previousPage})) }}">Previous</a>
    </li>

    {% for page in pagination.first_page..pagination.last_page %}
      <li class="page-item {% if pagination.current_page == page %} active{% endif %}">
        <a class="page-link" href="{{ path(pagination.route, pagination.paramsRoute|merge({'page': page})) }}">{{ page }}  {% if pagination.current_page == page %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
    {% endfor %}

    {% set nextPage = pagination.current_page+1 %}
    <li class="page-item{% if pagination.current_page == nextPage or pagination.last_page == pagination.current_page %} disabled{% endif %}">
      <a class="page-link" href="{{ path(pagination.route, pagination.paramsRoute|merge({'page': nextPage})) }}">Next</a>
    </li>
  </ul>
</nav>