<var id="result-container" class="result-container"></var>

{{ form_start(form) }}
  <div class="typeahead__container">
    <div class="typeahead__field">
      <span class="typeahead__query">
        {{ form_widget(form.terms, {'attr': {'data-provide': 'typehead'}}) }}
      </span>
    </div>
  </div>
{{ form_end(form) }}