{% extends 'base.html.twig' %}

{% block content %}

  <div class="container">
    <header class="jumbotron my-4">
      {% set labelTitle = 'list.' ~ catalog %}
      <h1 class="display-3">{{ labelTitle|trans }}</h1>
      <div class="lead">
        {% set descLabel = 'description.' ~ catalog %}
        {{ descLabel|trans }}
      </div>
    </header>

    <div class="row">
      <div class="col-12 right">
        {% include ':includes/layout:pagination.html.twig' with {pagination: pagination} %}
      </div>
    </div>

    <div class="row text-center">
      <div class="col-3 text-left">
        <h2 class="display-4">{{ 'filters'|trans|capitalize }}</h2>
        <hr>
        {% include 'forms/listorder.html.twig' %}
        <hr>
        {#Type#}
        {% include 'includes/facets/facet-group.html.twig' with {'name': 'type', 'data': aggregates.allfacets.type.buckets, 'translation': true} %}
        {#Constellations#}
        {% include 'includes/facets/facet-group.html.twig' with {'name': 'const', 'data': aggregates.allfacets.const.buckets, 'translation': true} %}

        {#Magnitude#}
        {% include 'includes/facets/facet-group.html.twig' with {'name': 'mag', 'data': aggregates.allfacets.mag.buckets, 'translation': false} %}
      </div>
      <div class="col-9">
        <div class="row">
          {% if list is defined and 0 < list|length %}
            {% for item in list %}
              {% include ':includes/dso:block.html.twig' with {dso: item} %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 right">
        {#{{ path(pagination.route, pagination.paramsRoute) }}#}
        {% include ':includes/layout:pagination.html.twig' with {pagination: pagination} %}
      </div>
    </div>
  </div>
{% endblock %}