{% extends 'base.html.twig' %}

{% block content %}

  <div class="container">
    <header class="jumbotron my-4">
      {% set labelTitle = 'list.' ~ catalog %}
      <h1 class="display-3">{{ labelTitle|trans }}</h1>
      <p class="lead">
        {% set descLabel = 'description.' ~ catalog %}
        {{ descLabel|trans }}
      </p>
      {#<div class="row">#}
        {#<button type="submit" class="btn btn-primary btn-lg">{{ 'submit'|trans }}</button>#}
      {#</div>#}
    </header>


    <div class="row">
      <div class="col-4">
        {% include 'forms/listorder.html.twig' %}
      </div>
      <div class="col-2"></div>
      <div class="col-6 right">
        {% include ':includes/layout:pagination.html.twig' with {pagination: pagination} %}
      </div>
    </div>

    <div class="row text-center">
      {% if list is defined and 0 < list|length %}
        {% for item in list %}
          {% include ':includes/dso:block.html.twig' with {dso: item} %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="row">
      <div class="col-12 right">
        {#{{ path(pagination.route, pagination.paramsRoute) }}#}
        {% include ':includes/layout:pagination.html.twig' with {pagination: pagination} %}
      </div>
    </div>
  </div>
{% endblock %}